[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=cropper %u
TryExec=cropper
Name=Cropper
Comment=Slice up images into many pieces
Icon=/usr/local/share/cropper/logo.svg
Categories=Graphics;2DGraphics;RasterGraphics;GTK
MimeType=image/jpeg;image/png;image/gif;image/*
